@import "tailwindcss";

:root {
  --background: #F8F4E3; 
}

/* Font configurations */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-karla), Arial, Helvetica, sans-serif;
}

body, p, span, div, li, a {
  font-family: var(--font-work-sans), Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.blink {
  animation: blink 6s infinite;
}